block variables

doctype html

html
  
  head
    meta(charset="utf-8")
    title #{title} | scDHA
    link(rel="stylesheet" href="/style.css")
    link(rel="shortcut icon" href="/favicon.ico")
  
  body
    #root
      block layout-content